<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>apt基因图谱及检测 - 简介</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	

	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="/static/js/echarts.min.js"></script>
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon.png">

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="{{ url_for('index') }}"><img src="/static/images/logo.png" alt="Logo" class="img-responsive logo" style="float: left"></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
					<li class="has-dropdown">
							<button style="height: 40px; background-color: #1e2839;border-width: 0px"><a style="color: white"><strong>家族md5序列号</strong></a></button>
							<ul class="dropdown">
								<li><a href="{{ url_for('bg') }}" style="color: black"><strong>md5表格</strong></a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<button style="height: 40px; background-color: #1e2839;border-width: 0px"><a style="color: white"><strong>APT家族</strong></a></button>
							<ul class="dropdown">
								<li><a href="{{ url_for('dash',_anchor='fh5co-about1') }}" style="color: black"><strong>APT家族简介</strong></a></li>
								<li><a href="{{ url_for('dash',_anchor='fh5co-about2') }}" style="color: black"><strong>部分APT家族</strong></a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<button style="height: 40px; background-color: #1e2839;border-width: 0px"><a style="color: white"><strong>APT图谱</strong></a></button>
							<ul class="dropdown">
								<li><a href="{{ url_for('index',_anchor='picc') }}" style="color: black"><strong>基因图谱及统计</strong></a></li>
								<li><a href="{{ url_for('index',_anchor='fh5co-started') }}" style="color: black"><strong>基因图谱分析</strong></a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<button style="height: 40px; background-color: #1e2839;border-width: 0px"><a style="color: white"><strong>APT检测及同源判定</strong></a></button>
							<ul class="dropdown">
								<li><a href="{{ url_for('upload') }}" style="color: black"><strong>上传样本</strong></a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<button style="height: 40px; background-color: #1e2839;border-width: 0px"><a style="color: white"><strong>帮助</strong></a></button>
							<ul class="dropdown">
								<li><a href="{{ url_for('help') }}" style="color: black"><strong>如何使用</strong></a></li>
								<li><a href="{{ url_for('introduction') }}" style="color: black"><strong>系统介绍</strong></a></li>
								<li><a href="{{ url_for('about') }}" style="color: black"><strong>关于我们</strong></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</nav>
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/images/img_bg_2.jpg);height: 110px">
		<div class="overlay"></div>
	</header>

	<div id="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<div style="height:30px;"></div>
					<span style="font-size: large; color: black;height: 50px" class="text-left"><strong>检出恶意APT列表</strong></span>
					<table class="table table-hover" style="color:black;">
						<thead>
						<tr>
							<th>#</th>
							<th>家族</th>
							<th>md5</th>
						</tr>
						</thead>
						<tbody id="tb"></tbody>
					</table>
					<div style="height: 100px;width: 100%" id="loadingChart2"></div>
					<div class="col-md-12 text-center">
						<a id="front" class="btn btn-primary" onclick="frontPage()" href="#">上一页</a>
						<span id="nowpage" style="color: black"></span>
						<a id="next" class="btn btn-primary" onclick="nextPage()" href="#">下一页</a>
						<input id="inputPage" type="number" style="width: 50px" min="1"></input>
						<a id="jump" class="btn btn-primary" onclick="jumpPage()">跳转</a>
					</div>
					<div style="height: 100px"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>为我们提供更多数据！</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-6 col-md-offset-3 col-sm-6">
						<button class="btn btn-default btn-block" onclick="start()">uploads</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Main -->
<script src="/static/js/main.js"></script>

<script>
    function start() {
        window.location = 'upload';
    }
</script>

	<script>
        var loadChart2 = echarts.init(document.getElementById('loadingChart2'));
        loadChart2.showLoading();
	var number;
	var code = '';
	var jsd;
	var totalPage;
	var nowPage;
	var result1;
        $(function(){
           $.get('/graph3', function(result) {
                jsd = result;
result1=result;
                //number = result.length;
number=0;
		for (i in result.nodes){
number=number+1;
}
jsd=number;
                if(number > 50){
                    totalPage = Math.ceil(number / 50);
                    if(totalPage > 300){
                        totalPage = 300;
					}
                    nowPage = 1;
                    number = 50;
				}
				else{
                    totalPage = 1;
                    nowPage = 1;
				}
                for(var i = 0; i < number; i++){
                    code += '<tr><th>';
                    code += (i + 1).toString();     ///id
                    code += '</th><th>';
                    code += result.nodes[i].name;       //family name
                    code += '</th>';
                    code += '<th>';
                    code += result.nodes[i].mdd;
                    code += '</th>';
		    code+='</tr>';
		}
                document.getElementById('loadingChart2').style = "height: 100px;width: 100%; display: none";
                document.getElementById('tb').innerHTML = code;
                document.getElementById('nowpage').innerHTML = nowPage + '/' + totalPage;
                document.getElementById('front').className = 'btn btn-default disabled';
                document.getElementById('front').style = "color: #5f615e;background-color: #b4b7b2";
                document.getElementById('inputPage').max = totalPage;
                if(totalPage == 1){
                    document.getElementById('next').className = 'btn btn-default disabled';
                    document.getElementById('next').style = "color: #5f615e;background-color: #b4b7b2";
                    document.getElementById('jump').className = 'btn btn-default disabled';
                    document.getElementById('jump').style = "color: #5f615e;background-color: #b4b7b2";
                    document.getElementById('inputPage').isDisabled;
				}
	    })
        });

        function nextPage(){
            
            code = '';
            if(nowPage == 1){
                document.getElementById('front').className = 'btn btn-primary';
                document.getElementById('front').style = "";
			}
            nowPage ++;
            if(nowPage == totalPage){
                number = jsd;
                if(number > 15000){
                    number = 15000;
				}
                document.getElementById('next').className = 'btn btn-default disabled';
                document.getElementById('next').style = "color: #5f615e;background-color: #b4b7b2";
			}
			else{
                number = nowPage * 50;
			}
            document.getElementById('nowpage').innerHTML = nowPage + '/' + totalPage;
			for(var i = 50*(nowPage-1); i < number; i++){
			
                    code += '<tr><th>';
                    code += (i + 1).toString();     ///id
                    code += '</th><th>';
                    code += result1.nodes[i].name;       //family name
                    code += '</th>';
                    code += '<th>';
                    code += result1.nodes[i].mdd;
                    code += '</th>';
		    code+='</tr>';
		}
            document.getElementById('tb').innerHTML = code;
		}

		function frontPage(){
            code = '';
            if(nowPage == totalPage){
                number = jsd;
                document.getElementById('next').className = 'btn btn-primary';
                document.getElementById('next').style = "";
            }
            nowPage -= 1;
            if(nowPage == 1){
                document.getElementById('front').className = 'btn btn-default disabled';
                document.getElementById('front').style = "color: #5f615e;background-color: #b4b7b2";
            }
            number = nowPage * 50;
            document.getElementById('nowpage').innerHTML = nowPage + '/' + totalPage;
            for(var i = 50*(nowPage-1); i < number; i++){
                    code += '<tr><th>';
                    code += (i + 1).toString();     ///id
                    code += '</th><th>';
                    code += result1.nodes[i].name;       //family name
                    code += '</th>';
                    code += '<th>';
                    code += result1.nodes[i].mdd;
                    code += '</th>';
		    code+='</tr>';
		}
            document.getElementById('tb').innerHTML = code;
        }

        function jumpPage() {
            
		    code = '';
            var input = document.getElementById('inputPage').value;
            if(input != ''){
                if(input < 1 || input > totalPage){
                    alert("页码超出范围");
				}
				else{
                    if(nowPage == totalPage){
                        number = jsd;
                        if(number > 15000){
                            number = 15000;
                        }
                        document.getElementById('next').className = 'btn btn-primary';
                        document.getElementById('next').style = "";
                    }
                    if(nowPage == 1){
                        document.getElementById('front').className = 'btn btn-primary';
                        document.getElementById('front').style = "";
                    }
                    nowPage = input;
                    if(nowPage == totalPage){
                        number = jsd;
                        if(number > 15000){
                            number = 15000;
                        }
                        document.getElementById('next').className = 'btn btn-default disabled';
                        document.getElementById('next').style = "color: #5f615e;background-color: #b4b7b2";
                    }
                    else{
                        number = nowPage * 50;
                    }
                    if(nowPage == 1){
                        document.getElementById('front').className = 'btn btn-default disabled';
                        document.getElementById('front').style = "color: #5f615e;background-color: #b4b7b2";
                    }
                    document.getElementById('nowpage').innerHTML = nowPage + '/' + totalPage;
                    for(var i = 50*(nowPage-1); i < number; i++){
                    code += '<tr><th>';
                    code += (i + 1).toString();     ///id
                    code += '</th><th>';
                    code += result1.nodes[i].name;       //family name
                    code += '</th>';
                    code += '<th>';
                    code += result1.nodes[i].mdd;
                    code += '</th>';
		    code+='</tr>';
		}
                    document.getElementById('tb').innerHTML = code;
                    document.documentElement.scrollTop = document.body.scrollTop = 0;
				}
			}
        }

    $('#inputPage').bind('keydown',function(event){
        if(event.keyCode == "13") {
            code = '';
            var input = document.getElementById('inputPage').value;
            if(input != ''){
                if(input < 1 || input > totalPage){
                    alert("页码超出范围");
                }
                else{
                    if(nowPage == totalPage){
                        number = jsd;
                        if(number > 15000){
                            number = 15000;
                        }
                        document.getElementById('next').className = 'btn btn-primary';
                        document.getElementById('next').style = "";
                    }
                    if(nowPage == 1){
                        document.getElementById('front').className = 'btn btn-primary';
                        document.getElementById('front').style = "";
                    }
                    nowPage = input;
                    if(nowPage == totalPage){
                        number = jsd;
                        if(number > 15000){
                            number = 15000;
                        }
                        document.getElementById('next').className = 'btn btn-default disabled';
                        document.getElementById('next').style = "color: #5f615e;background-color: #b4b7b2";
                    }
                    else{
                        number = nowPage * 50;
                    }
                    if(nowPage == 1){
                        document.getElementById('front').className = 'btn btn-default disabled';
                        document.getElementById('front').style = "color: #5f615e;background-color: #b4b7b2";
                    }
                    document.getElementById('nowpage').innerHTML = nowPage + '/' + totalPage;
                    for(var i = 50*(nowPage-1); i < number; i++){
                    code += '<tr><th>';
                    code += (i + 1).toString();     ///id
                    code += '</th><th>';
                    code += result1.nodes[i].name;       //family name
                    code += '</th>';
                    code += '<th>';
                    code += result1.nodes[i].mdd;
                    code += '</th>';
		    code+='</tr>';
		}
                    document.getElementById('tb').innerHTML = code;
                    document.documentElement.scrollTop = document.body.scrollTop = 0;
                }
            }
        }
    });
	</script>

	</body>
</html>

